.modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal .modalContainer {
  background: black;
  width: 300px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modal .modalContainer .modalCloseButton {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  border-color: transparent;
}

.modal > .modalContainer > .modalForm {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
